@font-face {
  font-family: 'Inconsolata', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
}
@font-face { 
  font-family: 'Noto Serif', serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
}

@font-face { 
  font-family: 'Hind Siliguri', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Work+Sans:ital,wght@1,500&display=swap');
}

@font-face {
  font-family: 'Oxygen', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14.5px;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

p {
  font-size: 1.45rem;
  font-weight: 600;
}

i {
  font-size: 1em;
}

a {
  text-decoration: none;
}

u, .credit{
  color: #eef3f1;
  font-size: .96rem;
}

input {
  min-width: 220px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(21, minmax(30.3px, 40.9px)) repeat(29, minmax(23.6px, 1fr)); /*1515px, 2045px*/ /*Prevent background image from getting sucked out of screen*/
  width: 100vw;
  height: 100vh;
}

.left-background {
  background-image: url("../images/eberhard-grossgasteiger-YBPIQ3JPdvo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  grid-row: span 3;
  grid-column: span 21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.background-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 19.5vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.credit-position-container {
  width: 296px;
  height: 16px;
  position: relative;
}

.background-text {
  padding: 10px;
  font-size: 6.5rem;
  font-weight: 700;
  color: #eef3f1;
  font-family: 'Kolker Brush', cursive; /*Fredericka the Great*/
  letter-spacing: .65cm;
}

.credit {
  position: absolute;
  bottom: 0px;
  left: 0px;
  letter-spacing: normal;
}

.form-header-container {
  display: flex;
  align-items: center;
  grid-column: span 29;
  background-image: linear-gradient(#516568, #eef3f1, #eef3f1);
}

.form-header-text {
  padding: 13.5% 13.5% 0px 48px;
}

form {
  grid-column: span 29;
  width: 100%;
  height: 100%;
  background-color: #eef3f1;
  box-shadow: 0px 2px 5px #152c33;/**/
  padding: 18px 0px 18px 0px;
  font-family: 'Roboto', sans-serif;
}

.form-entries-container {
  grid-column: span 29;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 48px;
  row-gap: 25px;
  /* flex-wrap: nowrap; */
}

.form-entries-container-items {
  display: flex;
  column-gap: 70px;
  margin-top: 4px;
  /* flex-wrap: wrap; */
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  letter-spacing: 0.01cm;
  word-spacing: 0.03cm;
}

input:not(input[type="submit"]) {
  border-radius: 4px;
  border: none;/*#aab3b3*/
  box-shadow: none;
  padding: 4px 6px;
  width: 18.3vw;
  background-color: #cfd7d6;
  color: black;
}

input:not(input[type="submit"]):focus {
  outline: #009fb5 solid 1px; /*override default black focus outline*/
  box-shadow: 2px 2px 4px 0.3px #152c33;
}

input[type="submit"] {
  padding: 16px 48px;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: #49646b;
  color: #ffffff;
  font-weight: 600;
}

/* Chrome, Firefox, Opera, Safari 10.1+ | Internet Explorer 10-11 | Microsoft Edge 
::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder { 
  color: black;
  opacity: 1; --->> Firefox
} */

.submit-form-container {
  grid-column: span 29;
  background-image: linear-gradient(#eef3f1, #eef3f1, #516568);
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 48px;
  row-gap: 25px;
  box-shadow: 0px 2px 5px #152c33;/**/
}

.submit-items-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.log-in-item {
  font-size: 1.23rem;
}

.log-in-item a {
  color: #b54319;
  font-size: 1em;
  font-weight: 600;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* Fix overflow of grid container below 1320px */
@media screen and (max-width: 1320px) {
  body .grid-container {
    overflow: hidden;
  }
}
@media screen and (max-width: 1208px) {
  body .grid-container {
    overflow-y: visible;
  }
  .form-header-container {
    width: 48vw;
  }
}
@media screen and (max-width: 1197px) {
  .form-title-container {
    display: flex;
    justify-content: center;
  }
  .form-entries-container {
    row-gap: 10px;
  }
  .form-entries-container-items {
    flex-direction: column;
    row-gap: 10px;
    margin-top: 0;
  }
  .submit-form-container {
    display: block;
  }
  .submit-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    row-gap: 25px;
  }
  input:not(input[type="submit"]), .form-title-container, .submit-items-container {
    width: 35.3vw;
  }
  .submit-form-container {
    align-items: center;
  }
}
@media screen and (max-width: 1086px) {
  .form-header-container {
    width: 47.8vw;
  }
}
@media screen and (max-width: 1076px) {
  .form-header-container {
    width: 41.3vw;
  }
  input:not(input[type="submit"]), .form-title-container, .submit-items-container {
    width: 29vw;
  }
}
@media screen and (max-width: 986px) {
  .form-header-text, .form-entries-container, .submit-form-container {
    padding-left: 24px;
  }
  .form-header-container {
    width: 39.1vw;
  }
  input:not(input[type="submit"]), .form-title-container, .submit-items-container {
    width: 28.75vw;
  }
}
@media screen and (max-width: 951px) {
  .form-header-container {
    width: 38.1vw;
  }
  .form-header-text, .form-entries-container, .submit-form-container {
    padding-left: 16px;
  }
}

@media screen and (max-width: 944px) {
  .form-header-container {
    width: 37.1vw;
  }
  .form-header-text, .form-entries-container, .submit-form-container {
    padding-left: 12px;
  }
}

@media screen and (max-width: 922px) {
  
}
